<h1> Room: {{ roomName }} </h1>
<p>
    The room you are visiting is {{ roomName }}
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<form></form>

<form action="/sendChat" method="POST">
    <input type="text" name="userName" placeholder="Enter username here"/>
    <input type="text" name="chatMessage" placeholder="Send a message!"/>
    <input type="submit" id="sendButton" value="Send"/> 
</form> 
 <script>
      while(true) {
        var nickname = prompt("Enter your nickname")

        if (nickname && !(nickname.trim() === "") ) {
            document.getElementByName("userName").value = nickname;
            break
        } else {
            alert('Please enter a nickname')
        }
    }



    //create text message 
    //refresh chatlog
</script>