<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<form></form>


<form action="/sendChat" method="POST">
<input type="text" name="chatMessage" placeholder="Send a message!"/>
<input type="submit" id="sendButton" value="Send"/> 
<input type="hidden" name="roomName" value={{roomName}}/> 
<input type="hidden" name="username" id="user" value=""/>
</form>

<script>
    while (true) {
        var user = prompt("Enter a nickname")
        if (user && !(user.trim() === "")) {
            document.getElementById("user").value = user;
            console.log(document.getElementById("user").value)
            break;
        } else {
            alert('Enter a nickname');
        }
    }

    interval = window.setInterval(function() {
        fetch(`http://localhost:8080/pullMessages`).then(function(elements) {
            elements.json().then((jsonResponse) => {
                console.log(jsonResponse)
            })
        })
    }, 10000);
</script>